[profile.default]
src = 'src'
test = 'tests'
script = 'scripts'
out = 'out'
libs = ['lib']
remappings = [
]
fs_permissions = [{access = "write", path = "./reports"}]

[rpc_endpoints]
mainnet = "${RPC_MAINNET}"
optimism = "${RPC_OPTIMISM}"
avalanche = "${RPC_AVALANCHE}"
polygon = "${RPC_POLYGON}"
arbitrum = "${RPC_ARBITRUM}"
fantom = "${RPC_FANTOM}"
harmony = "${RPC_HARMONY}"
metis = "${RPC_METIS}"
base = "${RPC_BASE}"
zkevm = "${RPC_ZKEVM}"
gnosis = "${RPC_GNOSIS}"
bnb = "${RPC_BNB}"
scroll="${RPC_SCROLL}"

[etherscan]
mainnet = { key="${ETHERSCAN_API_KEY_MAINNET}", chain=1 }
optimism = { key="${ETHERSCAN_API_KEY_OPTIMISM}", chain=10 }
avalanche = { key="${ETHERSCAN_API_KEY_AVALANCHE}", chain=43114 }
polygon = { key="${ETHERSCAN_API_KEY_POLYGON}", chain=137 }
arbitrum = { key="${ETHERSCAN_API_KEY_ARBITRUM}", chain=42161 }
fantom = { key="${ETHERSCAN_API_KEY_FANTOM}", chain=250 }
metis = { key="any", chainId=1088, url='https://andromeda-explorer.metis.io/' }
base = { key="${ETHERSCAN_API_KEY_BASE}", chainId=8453 }
zkevm = { key="${ETHERSCAN_API_KEY_ZKEVM}", chainId=1101 }
gnosis = { key="${ETHERSCAN_API_KEY_GNOSIS}", chainId=100 }
bsc= { key="${ETHERSCAN_API_KEY_BNB}", chainId=56}
scroll = {key="${ETHERSCAN_API_KEY_SCROLL}", chainId=534352}

# See more config options https://github.com/gakonst/foundry/tree/master/config